/* Header area */
.page-header {
    display: grid;
    grid-template-areas:
        "logo regular-menu social-menu";
    row-gap: 1.5rem;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

.logo {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 3px;
    grid-area: logo;
}

.page-header-menu-container {
    display: flex;
}

.page-header-menu-container--regular {
    grid-area: regular-menu;
}

.page-header-menu-container--social {
    grid-area: social-menu;
}

.menu,
.social {
    display: flex;
    list-style: none;
}

.menu-item {
    padding-right: 1rem;
    text-transform: uppercase;
}

.menu-item>.menu-link {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 500;
}

.social .icon {
    height: 1rem;
}

.tagline, .section-title {
    margin: 5rem 0 3.5rem;
    text-align: center;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
}

.section-title {
    font-size: 2rem;
}

/* Main area > header banner */
.main-banner {
    height: 500px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)),
        url(../images/IMG_3119.MOV);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 4.5rem;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

/* Generic utilities */
.d-none {
    display: none;
}

.basket-container {
    text-align: center;
}

/* Articles area 
  -md suffix: we target medium screen sizes and above
*/
.two-columns-container-md {
    display: flex;
    justify-content: space-between;
}

.two-columns-container-md__item {
    width: 45%;
    margin-bottom: 5rem;
}

.column-heading {
    font-size: 1.50rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1rem 0;
    text-align: center;
}

.column-p {
    margin: 0.5rem 0;
    text-align: center;
}

.two-columns-container-md__item img {
    width: 100%;
}

/* Generic components */
.btn {
    padding: 1rem 2rem;
    border: 2px solid black;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.67rem;
    background-color: white;
    cursor: pointer;
}

.btn:hover,
.button:focus,
.button:active {
    color: white;
    background-color: black;

}

.hr {
    background-color: darkgrey;
    border: none;
    height: 1px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 3rem;
}

h3 {
    color: black;
    font-size: 1.25rem;

}

h4 {
    color: black;
    font-size: 2rem;
}

.Baskets {
    text-align: center;
}

.circular_image {
    width: 200px;
    /* height: 200px; */
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;

    display: inline-block;
    vertical-align: middle;
}

.circular_image img {
    width: 100%;
}

/* Contact Form  */

#emailid,
#nameid,
#sendid {
    height: 2.5rem;
    font-size: 0.8rem;
    width: 24rem;
}

#sendid {
    font-weight: bold;
    font-size: 1.5rem;
    width: 24rem;
    height: 4rem;
    background-color: rgb(44, 196, 44);
}

label {
    width: 12rem;
    font-size: 1.5rem;
}

.contact {
    background-color: whitesmoke;
    text-align: center;
}