h1 {
    color: white;
    text-align: center;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: black;
}

h5 {
    color: rgb(235, 43, 171);
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Baskets {
    text-align: center;
}

.BasketImages {
    /* width: 500px; */
    height: 500px;
}